// out: ./Pages.css
.orders {
    &__nav {
        margin: 0;
        padding: 0;
        &::-webkit-scrollbar {
            width: 0;
            display: none;
        }
        overflow: scroll;
        display: flex;
        align-items: center;
        &--link {
            display: flex;
            align-items: center;
            justify-content: center;
            min-width: 125px;
            height: 30px;
            color: #bfbfbf;
            border-bottom: 0;
            &.active {
                color: #ff5c00;
                border-bottom: 1px solid #ff5c00;
            }
        }
    }
    .container {
        padding: 0 20px;
        width: 100%;
        height: calc(100vh - 56px * 2);
    }
    &__active {
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        h1 {
            font-size: 16px;
            margin-bottom: 20px;
            text-align: center;
        }
    }
}